.container{
    width: 1620px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo>a>img{
    width: 230px;

}
.search{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.services{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.services>div{
    background-color: #011765;
    padding: 17px;
    text-align: center;
    width: 200px;
    margin: 10px 0 5px 0;
    color: white;
    font-size: 20px;
    border-radius: 8px;
}
.services>div:hover{
    background-color: black;
    transition: 0.5s;
    cursor: pointer;

}

.recom{
    width: 1620px;
    margin: 60px auto;
}