.title>span,.photo>span,.description>span,.price>span,.location>span{
    display: block;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
}
.photo,.description,.price{
    margin-top: 40px;
}
.description>textarea{
    width: 500px;
    height: 200px;
    resize: none;

}
.button{
    margin-top: 100px;
}
.title>input,.photo>input,.description>input,.description>textarea,.price>input,.location>input{
    width: 800px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: gray;
    color: white;
}
.title>input::-webkit-input-placeholder,.location>input::-webkit-input-placeholder {
    color: white;
}
.title>input:focus {
    outline: none;
}
.photo>input::-webkit-input-placeholder {
    color: white;
}
.photo>input:focus,
.location>input:focus {
    outline: none;
}
.description>input::-webkit-input-placeholder,.price>input::-webkit-input-placeholder{
    color: white;
}
.description>input:focus,.price>input:focus{
    outline: none;
}

.description>textarea:focus {
    outline: none;
}
.location>span{
    margin-top: 40px;
}